@model lab.Models.Admin
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<body>
    <div class="main">
        <h1>Forget Password</h1>
        <div class="content">
            <div id="container">
                @using (Html.BeginForm("forgetPassword", "Admin"))
                {
                    <fieldset>
                        <!-- #first_step -->
                        <div id="first_step">
                            @*<div class="form">*@
                            <h5>Email</h5>
                            @Html.TextBoxFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                            <h5>Secret Question</h5>
                            <select id="SecretQuestion" name="SecretQuestion">
                                <option>Phone number</option>
                                <option>Favourite Book</option>
                                <option>Favourite Uncle Name</option>
                                <option>Pet Name</option>
                            </select>
                            <h5>Secret Answer</h5>
                            @Html.TextBoxFor(model => model.SecretAnswer)
                            @Html.ValidationMessageFor(model => model.SecretAnswer)
                            <h5>Enter New Password</h5>
                            @Html.TextBoxFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                        <input class="submit" type="submit" name="submit" id="submit" value="Submit" />
                        @*</div>*@
                    </fieldset>
                }
            </div>

        </div>
    </div>
</body>

